<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
   <title>SignUP</title>
</head>
<body>
    <section class="container">
        <form action="/user/signup" method="post">
            <div>
                <label class="form-lable" for="fullname">FullName</label>
                <input class="form-input" id="fullname" name="fullname" placeholder="Enter Your Name"/>
            </div>
            <div>
                <label class="form-lable" for="email">Email</label>
                <input class="form-input" id="email" name="email" placeholder="Enter Your Email ID"/>
            </div>
            <div>
                <label class="form-lable" for="password">Password</label>
                <input class="form-input" id="password" name="password" placeholder="Enter Your Password"/>
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
        <div class="option">
            <p>if you already has an account then -></p>
            <a href="/signin">Signin</a>
        </div>
    </section>
    <%- include('./partials/script.ejs') %>
</body>
</html>