.nav-wapper{
    background-color: #222831;
}

a{
 text-decoration: none;
 color: white;   
 font-size: 1.1rem;
}

a:hover{
    color: #EA5B6F;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
}

.navbar-left{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.logo{
    color: #EA5B6F;
    font-size: 2rem;
}
